<!DOCTYPE html>
<html>

	<head lang="en">
		<meta charset="UTF-8">
		<title>qq登录</title>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<meta name="format-detection" content="telephone=no">
		<meta name="renderer" content="webkit">
		<meta http-equiv="Cache-Control" content="no-siteapp" />

		<link rel="stylesheet" href="__STATIC__/login/AmazeUI-2.4.2/assets/css/amazeui.css" />
		<link href="__STATIC__/login/css/dlstyle.css" rel="stylesheet" type="text/css">
	</head>

	<body>

		<div class="login-boxtitle">
			<a href="__STATIC__/login/home/home.html"><img alt="logo" src="__STATIC__/login/images/logobig.png" /></a>
		</div>

		<div class="login-banner">
			<div class="login-main">
				<div class="login-banner-bg"><span></span><img src="__STATIC__/login/images/big.jpg" /></div>
				<div class="login-box">

							<h3 class="title">QQ账号密码登录</h3>

							<div class="clear"></div>
						
						<div class="login-form">
						  <form method="post" action="{:url('Login/qqlogin')}" >
							   <div class="user-name">
								    <label for="qq"><i class="am-icon-user"></i></label>
								    <input type="text" name="qq" id="qq"  maxlength="20" {if condition="empty($message1)"} placeholder="QQ账号" {else /} placeholder={$message1}{/if} >
							   </div>
							   <div class="user-pass">
								    <label for="password"><i class="am-icon-lock"></i></label>
								    <input type="password" name="password" id="password"  maxlength="16" {if condition="empty($message2)"} placeholder="请输入密码"  {else /} placeholder={$message2}{/if} >
							   </div>
							  <div class="am-cf">
								  <input type="submit" value="授权并登录" class="am-btn am-btn-primary am-btn-sm">
							  </div>
						  </form>
           				</div>

				</div>
			</div>
		</div>


					<div class="footer ">
						<div class="footer-hd ">
							<p>
								<a href="# ">恒望科技</a>
								<b>|</b>
								<a href="# ">商城首页</a>
								<b>|</b>
								<a href="# ">支付宝</a>
								<b>|</b>
								<a href="# ">物流</a>
							</p>
						</div>
						<div class="footer-bd ">
							<p>
								<a href="# ">关于恒望</a>
								<a href="# ">合作伙伴</a>
								<a href="# ">联系我们</a>
								<a href="# ">网站地图</a>
								<em>© 2015-2025 Hengwang.com 版权所有. 更多模板 <a href="http://www.cssmoban.com/" target="_blank" title="模板之家">模板之家</a> - Collect from <a href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a></em>
							</p>
						</div>
					</div>
	</body>

</html>