{extend name='template/temptl' /}
{block name='content'}
<div id="content">
    <div class="page-header">
        <div class="container-fluid">
            <div class="pull-right">
                <button type="submit" form="form-category" data-toggle="tooltip" title="保存" class="btn btn-primary">
                    <i class="fa fa-save"></i>
                </button>
                <a href="" data-toggle="tooltip" title="取消" class="btn btn-default">
                    <i class="fa fa-reply"></i>
                </a>
            </div>
            <h1>代码生成</h1>
        </div>
    </div>
    <div class="container-fluid">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <i class="fa fa-pencil"></i>
                    代码生成
                </h3>
            </div>
            <div class="panel-body">
                <form action="{:url('generate')}" method="post" enctype="multipart/form-data" id="form-category" class="form-horizontal">
                    <div class="tab-content">
                        <div class="tab-pane active" id="tab-general">
                            <div class="form-group required">
                                <label class="col-sm-2 control-label" for="input-name2">表名</label>
                                <div class="col-sm-10">
                                    <input type="text" name="table" placeholder="请输入一个表名" id="input-table" class="form-control" />
                                </div>
                            </div>
                            <a href="#" id="table-info" class="btn btn-default pull-right">获取表信息</a>
                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="input-comment">标题</label>
                                <div class="col-sm-10">
                                    <input id="input-comment" type="text" name="comment"  class="form-control"  value="" placeholder="表的注释">
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{/block}

{block name='appendJs'}
<script>
    $(function() {
        $('#table-info').click(function(evt) {
            evt.preventDefault();
            var url = "{:url('infor')}";
            var data = {
                table: $('#input-table').val()
            };
            $.get(url,data,function (res) {
                $('#input-comment').val(res.comment);
                var html = '';
                $.each(res.fields, function (i, field) {
                    html += '<div class="form-group">' +
                        '<div class="col-sm-2"></div>' +
                        '<div class="col-sm-2">' +
                        '<input type="text" name="fields[' + i + '][' +
                        'name]" value="' + field.column_name + '" ' +
                        'class="form-control" readonly />' +
                        '</div>' +
                        '<div class="col-sm-2">' +
                        '<input type="text" name="fields[' + i + '][comment]" value="' + field.column_comment + '"placeholder="ID" class="form-control" />' +
                        '</div>' +
                        '<div class="col-sm-2">' +
                        '<input type="checkbox" name="fields[' + i + '][is_list]" value="1" class="form-control"' + (field.column_name == 'create_time' || field.column_name == 'update_time' ? '' : 'checked') + '/>' +
                        '</div>' +
                        '<div class="col-sm-2">' +
                        '<input type="checkbox" name="fields[' + i + '][is_order]" value="1" class="form-control"' + (field.column_name == 'create_time' || field.column_name == 'update_time' ? '' : 'checked') + '/>' +
                        '</div>' +
                        '<div class="col-sm-2">' +
                        '<input type="checkbox" name="fields[' + i + '][is_set]" value="1" class="form-control"' + (field.column_name == 'create_time' || field.column_name == 'update_time' || field.column_name == 'id' ? '' : 'checked') + '/>' +
                        '</div>' +
                        '</div>';
                })
                $('.tab-content').append(html);
            }, 'json')
        })
    })
</script>
{/block}