<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link href="__STATIC__/myshop/AmazeUI-2.4.2/assets/css/amazeui.css" rel="stylesheet" type="text/css" />
    <link href="__STATIC__/myshop/AmazeUI-2.4.2/assets/css/admin.css" rel="stylesheet" type="text/css" />
    <link href="__STATIC__/myshop/css/cartstyle.css" rel="stylesheet" type="text/css" />
    <link href="__STATIC__/myshop/basic/css/demo.css" rel="stylesheet" type="text/css" />
    <link href="__STATIC__/myshop/css/hmstyle.css" rel="stylesheet" type="text/css"/>
    <link href="__STATIC__/myshop/css/skin.css" rel="stylesheet" type="text/css" />
    <script src="__STATIC__/myshop/AmazeUI-2.4.2/assets/js/jquery.min.js"></script>
    <script src="__STATIC__/myshop/AmazeUI-2.4.2/assets/js/amazeui.min.js"></script>
    <link type="text/css" href="__STATIC__/myshop/css/optstyle.css" rel="stylesheet" />
    <link type="text/css" href="__STATIC__/myshop/css/style.css" rel="stylesheet" />
    <script type="text/javascript" src="__STATIC__/myshop/basic/js/jquery-1.7.min.js"></script>
    <script type="text/javascript" src="__STATIC__/myshop/basic/js/quick_links.js"></script>
    <script type="text/javascript" src="__STATIC__/myshop/js/jquery.js"></script>
    <script type="text/javascript" src="__STATIC__/myshop/AmazeUI-2.4.2/assets/js/amazeui.js"></script>
    <script type="text/javascript" src="__STATIC__/myshop/js/jquery.imagezoom.min.js"></script>
    <script type="text/javascript" src="__STATIC__/myshop/js/jquery.flexslider.js"></script>
    <script type="text/javascript" src="__STATIC__/myshop/js/list.js"></script>
    {block name='title'}<title>Document</title>{/block}
</head>
<body>
{include file='template/header' /}
{block name='shopMain'}
{/block}
{include file='template/menu' /}
{block name='footer'}
{include file='template/footer' /}
{/block}
</body>
</html>