{extend name='template/temptl' /}
{block name='content'}
<div id="content">
    <div class="page-header">
        <div class="container-fluid">
            <div class="pull-right">
                <a href="{:url('Back/Goods/add')}" data-toggle="tooltip" title="新增" class="btn btn-primary"> <i class="fa fa-plus"></i>
                </a>
                <button type="button" data-toggle="tooltip" title="删除" class="btn btn-danger" onclick="confirm('确认？') ? $('#form-product').submit() : false;">
                    <i class="fa fa-trash-o"></i>
                </button>
            </div>
            <h1>商品管理</h1>
            <ul class="breadcrumb">
                <li>
                    <a href="">首页</a>
                </li>
                <li>
                    <a href="">商品管理</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="container-fluid">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <i class="fa fa-list"></i>
                    商品列表
                </h3>
            </div>
            <div class="panel-body">
                <div class="well">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="control-label" for="input-name">商品名称</label>
                                <input type="text" name="filter_name" value="" placeholder="商品名称" id="input-name" class="form-control" />
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="control-label" for="input-price">销售价格</label>
                                <input type="text" name="filter_price" value="" placeholder="销售价格" id="input-price" class="form-control" />
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="control-label" for="input-status">状态</label>
                                <select name="filter_status" id="input-status" class="form-control">
                                    <option value="*"></option>
                                    <option value="1">启用</option>
                                    <option value="0">停用</option>
                                </select>
                            </div>
                            <button type="button" id="button-filter" class="btn btn-primary pull-right">
                                <i class="fa fa-search"></i>
                                筛选
                            </button>
                        </div>
                    </div>
                </div>
                <form action="http://php.kang.com/test/s/admin/index.php?route=catalog/product/delete&amp;token=nqIzSXp4UsRhLZ2GzwCvvFhqMsKSHkuh" method="post" enctype="multipart/form-data" id="form-product">
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover">
                            <thead>
                            <tr>
                                <td style="width: 1px;" class="text-center">
                                    <input type="checkbox" onclick="$('input[name*=\'selected\']').prop('checked', this.checked);" />
                                </td>
                                <td class="text-center">图片</td>
                                <td class="text-left">
                                    <a href="" class="asc">商品名称</a>
                                </td>
                                <td class="text-left">
                                    <a href="">UPC</a>
                                </td>
                                <td class="text-right">
                                    <a href="" class="desc">价格</a>
                                </td>
                                <td class="text-right">
                                    <a href="">数量</a>
                                </td>
                                <td class="text-left">
                                    <a href="">状态</a>
                                </td>
                                <td class="text-right">管理</td>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td class="text-center">
                                    <input type="checkbox" name="selected[]" value="71" />
                                </td>
                                <td class="text-center">
                                    <img src="../image/catalog/gd/product/yanjing4.jpg" alt="2016时尚墨镜 女士偏光太阳镜潮人欧美复古圆框眼镜驾驶镜" class="img-thumbnail" style="max-width: 40px"/>
                                </td>
                                <td class="text-left">2016时尚墨镜 女士偏光太阳镜潮人欧美复古圆框眼镜驾驶镜</td>
                                <td class="text-left">1252323</td>
                                <td class="text-right">
                                    <span style="text-decoration: line-through;">8867.0000</span>
                                    <br/>
                                    <div class="text-danger">7770.0000</div>
                                </td>
                                <td class="text-right">
                                    <span class="label label-success">6666</span>
                                </td>
                                <td class="text-left">启用</td>
                                <td class="text-right">
                                    <a href="{:url('Back/Goods/edit')}" data-toggle="tooltip" title="编辑" class="btn btn-primary">
                                        <i class="fa fa-pencil"></i>
                                    </a>
                                    <a href="{:url('Back/Goods/option')}" data-toggle="tooltip" title="管理选项" class="btn btn-primary">
                                        <i class="fa">O</i>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td class="text-center">
                                    <input type="checkbox" name="selected[]" value="73" />
                                </td>
                                <td class="text-center">
                                    <img src="../image/catalog/gd/product/yanjing12.1.jpg" alt="普利邦 欧美圆框黑色炫酷太阳镜男款圆框防紫外线墨镜前卫驾驶镜" class="img-thumbnail" style="max-width: 40px"/>
                                </td>
                                <td class="text-left">普利邦 欧美圆框黑色炫酷太阳镜男款圆框防紫外线墨镜前卫驾驶镜</td>
                                <td class="text-left">2321321</td>
                                <td class="text-right">
                                    <span style="text-decoration: line-through;">4999.0000</span>
                                    <br/>
                                    <div class="text-danger">3199.0000</div>
                                </td>
                                <td class="text-right">
                                    <span class="label label-success">3333</span>
                                </td>
                                <td class="text-left">启用</td>
                                <td class="text-right">
                                    <a href="" data-toggle="tooltip" title="编辑" class="btn btn-primary">
                                        <i class="fa fa-pencil"></i>
                                    </a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </form>
                <div class="row">
                    <div class="col-sm-6 text-left">
                        <ul class="pagination">
                            <li class="active">
                                <span>1</span>
                            </li>
                            <li>
                                <a href="">2</a>
                            </li>
                            <li>
                                <a href="">&gt;</a>
                            </li>
                            <li>
                                <a href="">&gt;|</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-sm-6 text-right">显示开始 1 到 20 之 23 （总 2 页）</div>
                </div>
            </div>
        </div>
    </div>
</div>
{/block}