{extend name='template/temptl' /}
{block name='content'}
<div id="content">
    <div class="page-header">
        <div class="container-fluid">
            <div class="pull-right">
                <a href="" data-toggle="tooltip" title="刷新" class="btn btn-default">
                    <i class="fa fa-refresh"></i>
                </a>
            </div>
            <h1>商品分类</h1>
            <ul class="breadcrumb">
                <li>
                    <a href="{:url('Home/index')}">首页</a>
                </li>
                <li>
                    <a href="">商品分类</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="container-fluid">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <i class="fa fa-list"></i>
                    商品分类列表
                </h3>
            </div>
            <div class="panel-body">
                <form action="" method="post" enctype="multipart/form-data" id="form-category">
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover">
                            <thead>
                            <tr>
                                <td class="text-left">
                                    {if condition="isset($desc)"}<a href="{:url('index')}" class="desc">商品属性</a>{else/}<a href="{:url('desc')}" class="asc">商品属性</a>{/if}
                                </td>
                                <td class="text-right">
                                    <a href="">是否导航</a>
                                </td>
                                <td class="text-right">商品属性详情</td>
                            </tr>
                            </thead>
                            <tbody>
                            {volist name='list' id='row'}
                            <tr>
                                <td class="text-left">{$row.name}</td>
                                <td class="text-left">{$row.is_show_text}</td>
                                <td class="text-right">
                                    <a href="{:url('table',['id'=>$row['id']])}" data-toggle="tooltip" title="编辑" class="btn btn-primary">
                                        <i class="fa fa-pencil"></i>
                                    </a>
                                </td>
                            </tr>
                            {/volist}
                            </tbody>
                        </table>
                    </div>
                </form>
                <div class="row">
                    <div class="col-sm-6 text-right">{$list->render()}</div>
                </div>
            </div>
        </div>
    </div>
</div>
{/block}
