{extend name='template/temptl' /}
{block name='content'}
    <div id="content">
        <div class="page-header">
            <div class="container-fluid">
                <div class="pull-right">
                    <button type="submit" form="form-category" data-toggle="tooltip" title="保存" class="btn btn-primary">
                        <i class="fa fa-save"></i>
                    </button>
                    <a href="" data-toggle="tooltip" title="取消" class="btn btn-default">
                        <i class="fa fa-reply"></i>
                    </a>
                </div>
                <h1>分辨率列表</h1>
            </div>
        </div>
        <div class="container-fluid">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <i class="fa fa-pencil"></i>
                        分辨率编辑
                    </h3>
                </div>
                <div class="panel-body">
                    <form action="{:url('save')}" method="post" enctype="multipart/form-data" id="form-category" class="form-horizontal">
                        {if condition="isset($data['id'])"}
                            <input type="hidden" name="id" value="{$data['id']}" id="input_id" />
                        {/if}
                        <div class="tab-content">
                            <div class="tab-pane active" id="tab-general">
                                <div class="form-group required">
                                    <label class="col-sm-2 control-label" for="input-name">分辨率名称</label>
                                    <div class="col-sm-10">
                                        <input type="text" name="name" value="{$data['name']|default=''}" placeholder="分辨率名称" id="input-name" class="form-control" />
                                        {if condition="isset($message['name'])"}
                                            <label for="input-name" class="text-danger"> {$message['name']}</label>
                                        {/if}
                                    </div>
                                </div>
                                <div class="form-group required">
                                    <label class="col-sm-2 control-label" for="input-is_show">是否展示</label>
                                    <div class="col-sm-10">
                                        <select name="is_show" id="input-is_show">
                                            <option value="1">展示</option>
                                            <option value="2" {if condition="isset($data['is_show'])"}{if condition="$data['is_show']==2"}selected{/if}{/if}>不展示</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="input-type-id" class="col-sm-2 control-label">
                                        <span title="" data-toggle="tooltip">商品分类</span>
                                    </label>
                                    <div class="col-sm-9">
                                        <select class="form-control" id="input-type-id" name="tab_id">
                                            {volist name='tab' id='row'}
                                            <option value="{$row.id}" {if condition="isset($data['tab_id'])"}{if condition="$data['tab_id']==$row['id']"}selected{/if}{/if}>{$row.cat_name}</option>
                                            {/volist}
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{/block}